h2 {
    color: green;
    font-size: 37px;
    float: left;
    position: relative;
    margin-top: 142px;
}


#photo{
    width: 12%;
    height: 250px;
    margin-left: 1200px;
    margin-top: 25px;
    margin-bottom: -53px;
}


p {
    color: green;
    text-align: center;
    margin-left: 274px;
    margin-top: 47px;
    margin-bottom: 47px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}


#AboutMe {
    width: 10%;


}


#My-Work {
    position: relative;
}


#mywork h2 {
    width: 85%;
    margin-bottom: 25px;
}

#mywork {
    margin-top: 430px;
    width: 10%;

}

body {
    background-color: grey;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
}


.header h1 {
    color: black;
    display: inline-block;
    font-size: 48px;

}

header div,
ul,
li {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    
    

}


a,
ul,
li {
    color: black;
    text-decoration: none;
    margin-left: 25px;
    position: relative;
    margin-top: -35px;
    display: flex;
    text-decoration: underline;
    
}

.about-me {
    margin: 15px;
    font-size: 28px;
}

img {
    width: 84%;
    height: 430px;
    margin-bottom: 18px;
    margin-left: 151px;
    border: 10px solid green;
}




.waves {
    position: relative;
    align-items: center;

}

.img1 h2 {
    position: absolute;
    z-index: 2;
    color: black;
    top: 870px;
    right: 1000px;
    width: 334px;
    border: 1px solid black;
    background-color: green;
}


#LEDh2 {
    position: absolute;
    z-index: 2;
    color: black;
    top: 188px;
    right: 1400px;
    width: 320px;
    border: 1px solid black;
    background-color: green;

}

#Pastel-Puzzelsh2 {
    position: absolute;
    z-index: 2;
    color: black;
    top: 188px;
    right: 460px;
    width: 420px;
    border: 1px solid black;
    background-color: green;

}

#Calculatorh2 {
    position: absolute;
    z-index: 2;
    color: black;
    top: 650px;
    right: 1380px;
    width: 420px;
    border: 1px solid black;
    background-color: green;
}


#Run-Buddyh2 {
    position: absolute;
    z-index: 2;
    color: black;
    top: 650px;
    right: 460px;
    width: 420px;
    border: 1px solid black;
    background-color: green;
}



.group {
    display: grid;
    position: relative;
}


.group1 {
    display: flex;
    margin-top: -5px;
    height: 430px;
    width: 100%;
    justify-content: center;
    margin-left: -74px;

}

#h2footer {
    margin-right: 25px;

}


.group2 {
    display: flex;
    margin-top: 25px;
    height: 430px;
    width: 100%;
    justify-content: center;
    margin-left: -74px;

}

.column {
    display: block;
    display: flex;
}

.Calculator {
    border: 10px solid green;
    width: 720px;
    height: 400px;
    position: relative;

}

.Run-Buddy {
    border: 10px solid green;
    width: 720px;
    height: 400px;

}

.LED-Wall {
    border: 10px solid green;
    width: 720px;
    height: 400px;
    position: relative;

}

.Pastel-Puzzels {
    border: 10px solid green;
    width: 720px;
    height: 400px;
    position: relative;

}




#h2footer {
    float: left;
    color: green;
}



#footerul ul li  {

    padding-top: 194px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    align-items: end;
    
    
}


@media screen and (max-width: 992px) {
    .body {
        position: fixed;
    }

    ul li {
        font-size: 23px;
        margin-top: 35px;

    }

    .header h1 {
        font-size: 30px;
    }

}


@media screen and (max-width: 390px) {
    ul li {
        font-size: 7px;
        margin-top: 19px;
        margin-left: -35px;
    }

    .header h1 {
        font-size: 14px;
    }
}